<ul class="list-group">
    <li class="list-group-item clearfix">
        <p><%= current_user.created_at.strftime("%Y-%m-%d %H:%M:%p") %> last replied: </p>
        <div class="star-rating" data-score="<%= comment.raty %>"></div>
        <p>
            <%= markdown comment.body %>
        <% if user_signed_in? %>
            <% if @article.user_id == current_user.id %>
                <div class="pull-right">
                    <%= link_to edit_article_comment_path(@article, comment) do %>
                        <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                </div>
            <% end %>
        <% end %>
        </p>
    </li>
</ul>
<script type="text/javascript" charset="utf-8">
    $('#star-rating').raty({
        path: "/assets/",
        scoreName: "comment[raty]"
    });
</script>
