= simple_form_for ([@article, @comment]) do |f|
  .form-group
    = f.input :raty
    = f.text_area :body, class: "form-control", rows: 10
  .form-group
    = f.button :submit, class: "btn btn-primary"
