%nav.navbar.navbar-default
  .navbar-header
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a 所有节点
        %li.active
          %a{href: "#"} 默认
        %li
          %a 优质帖子
        %li
          %a 无人问津
        %li
          %a 最新发布
.panel.panel-default
  .panel-body
    - @article.each do |article|
      %h5.clearfix
        = link_to article.title, article, style: "color: #222222;"
        %span.badge.pull-right
          = article.comments.count
        %hr
  .panel-footer.clearfix
    %ul.pagination
      %li.disabled
        %a{href: "#"}
          %span &laquo;
          Previous
      %li.active
        %a{style: "color: #555;", :href => "#" } 1
      %li
        %a{style: "color: #555;", :href => "#" } 2
      %li
        %a{style: "color: #555;", :href => "#" } 3
      %li
        %a{style: "color: #555;", :href => "#" } 4
      %li
        %a{style: "color: #555;", :href => "#" } 5
      %li
        %a{style: "color: #555;",href: "#"}
          Next
          %span
            &raquo;
