- if @article.count <= 0

  %p.help-block.text-capitalize
    there is no title ^_^.

- else

  .panel.panel-default
    .panel-body
      - @article.each do |article|
        .col-md-12.col-xs-12
          = link_to article.title, article
          %span.badge.col-md-offset-3
            = article.comments.count
          %hr

    .panel-footer
      %ul.pagination
        %li.disabled
          %a{href: "#"}
            %span
              &laquo;
            Prev
        %li.active
          %a{href: "#"} 1
        %li
          %a{href: "#"} 2
        %li
          %a{href: "#"} 3
        %li
          %a{href: "#"} 4
        %li
          %a{href: "#"} 5
        %li
          %a{href: "#"}
            Next
            %span
              &raquo;


