.item.item1, .item.item2, .item.item3, .item.item4 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16);
    background-color: white;
    a {
        display: block;
        text-decoration: none;
        padding-left: 10px;

        img {
            margin-left: 60px;
        }

        i {
            margin-right: 10px;
        }
    }

    .text {
        background-color: #F2F2F3;
        display: block;
    }
}

img.hello, img.documents, img.ruby, img.chat{
    width: 60px;
    height: 60px;
}

body {
    background-color:  #E9EAED;
}

.panel-body.text-center {
    a {
        margin: 6px;
    }
}

