div.sidebar.wiki-sidebar .panel.panel-default ul li {

    display: list-item;
    line-height: 180%;
    a {
        color: black;
    }
}

div.col-md-9 .panel.panel-default .panel-body .markdown {

    ul {
        margin-bottom: 25px;
    }

    ul li {
        line-height: 180%;

        a {
            color: #116CD3;
        }
    }
}


.col-md-9 .panel.panel-default .panel-body {

    ul li a {
        color: black;
    }
}

