.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国际商业网站

    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国外著名网站

    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        Ruby 社区网站

    .panel-body


.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国外企业 / 团队

    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        国内企业 / 团队

    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        Ruby 开源社区

    .panel-body

.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        技术博客

    .panel-body
.panel.panel-default
  .panel-heading
    .panel-title
      %span.text-muted
        其他

    .panel-body
